<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>PA practice</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <!--Latest compiled and minified Popper -->

    <!-- Latest compiled and minified CSS -->
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <script src="static/js/exercise.js" defer></script>
    <script src="static/js/items.js" defer></script>

</head>

<body>
<div>
    <div class="next-btn-container">
        <a class="next-btn" id="next-btn">Another one!</a>
    </div>
    <div class="exercise">
        <h3 class="title" id="title" th:text="${exercise.getTitle()}"></h3>
        <p class="question-body" id="question-body" th:text="${exercise.getText()}"></p>
    </div>
    <div class="controls">
        <a  class="button" onClick="stopwatch.start();">Start</a>
        <a  class="button" onClick="stopwatch.lap();">Lap</a>
        <a  class="button" onClick="stopwatch.stop();">Stop</a>
        <a  class="button" onClick="stopwatch.restart();">Restart</a>
        <a  class="button" onClick="stopwatch.clear();">Clear Laps</a>
    </div>
    <div class="stopwatch"></div>
    <ul class="results"></ul>
</div>
<div th:replace="footer.html :: copy"></div>
</body>
<?php
echo "helloka";
?>
</html>