<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />

    <script  src="/static/js/GetAndPostApiS.js" defer></script>

    <style>
        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="/static/css/cart.css" />
    <script src="static/js/cart.js"></script>

    </head>

<body>
<nav>
    <div class="navbar">
        <ul class="navbar-left">
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
        </ul> <!--end navbar-left -->

        <ul class="navbar-right">
            <li><a href="shoppingcart" id="cart"><i class="fa fa-shopping-cart"></i> Cart <span class="badge" id="cart-size" th:text="${cart.getSize()}"></span></a></li>
        </ul> <!--end navbar-right -->
    </div> <!--end container -->
</nav>

<div class="jumbotron text-center">
    <IMG src="/static/img/logo.png" height="140px">
</div>


    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sort by
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu"><a class="test" tabindex="-1">Category<span class="caret"></span></a>
                <ul class="dropdown-menu" >
                    <div class="category" th:each="cate,iterStat : ${categories}">
                        <li><a tabindex="-1" th:text="${cate.name}" th:value="${cate.id}"></a></li>
                    </div>
                </ul>
            </li>

                <li class="dropdown-submenu" ><a class="test" tabindex="-1">Supplier<span class="caret"></span></a>
                    <ul class="dropdown-menu" >
                        <form action="/supplier" method="get">
                            <div class="supplier" th:each="pro, iterStat : ${products}" >
                                <li><input type="submit"  tabindex="-1"  th:text="${pro.name}" th:value="${pro.id}" name="supplier-option"></li>
                            </div>
                        </form>
<!--                            <div class="supplier" th:each="pro, iterStat : ${products}" >-->
<!--                                <li><a  tabindex="-1"  th:text="${pro.name}" th:value="${pro.id}" href="/supplier" </a></li>-->
<!--                            </div>-->
                    </ul>
                </li>


        </ul>
    </div>







<form method="get">
    <select class="sort-drop-down-by-category" name="category-options">
        <div th:each="cate,iterStat : ${categories}">
            <option th:text="${cate.name}" th:value="${cate.id}"></option>
            <!--    <a>-->
            <!--        <button>Sort by category</button>-->
            <!--    </a>-->
        </div>
    </select>
    <input type="submit" value="Submit">
</form>
<form method="get" action="/supplier">
    <select class="sort-drop-down-by-supplier" name="supplier-option">
        <div th:each="sup,iterStat : ${suppliers}">
            <option th:text="${sup.name}" th:value="${sup.id}"></option>
            <!--    <a>-->
            <!--        <button>Sort by category</button>-->
            <!--    </a>-->
        </div>
    </select>
    <input type="submit" value="Submit">
</form>
<div class="container">
    <div th:each="cat,iterStat : ${categories}">
        <div >
            <strong th:text="${cat.name}">Category Title</strong>
        </div>
        <div id="products" class="row">
            <div th:each="prod,iterStat : ${products}">
                <div th:if="${cat.name} == ${prod.getCategoryName()}">
                    <div class="card">
                        <img class="card-picture" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                        <div class="card-header">
                            <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                            <p class="card-text" th:text="${prod.description}">Product description... </p>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                            </div>
                            <div class="card-text">
                                <a class="btn btn-outline-secondary" th:attr="data-id=${prod.getId()}" onclick="addToCart(this)">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer.html :: copy"></div>
</body>
<?php
echo "helloka";
?>
</html>